:root {
  --header-h: 64px;
  --footer-h: 64px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

nav {
  padding: 0 1.3rem;
}
.content {
  min-height: calc(100svh - var(--header-h) - var(--footer-h));
  padding: 1.5rem 0;
}
.card .card-image img {
  height: 345px;
}
.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}
.search-btn {
  position: absolute;
  top: 0;
  right: 0.5rem;
}
@media (max-width: 600px) {
  :root {
    --header-h: 56px;
  }
}
